<a href="/">Home Page</a>
<a href="/brands">All Brands</a>


<h1> All Watches </h1>

<% @watches.each do |watch|%>
<h3><a href="/watches/<%= watch.id %>"><%= watch.model %></a></h3>
</h2> <a href="/watches/<%= watch.id %>/edit">Edit <%= watch.model %></a>
<%end%>